.hero-image {
height:500px;

  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  color: #333333;
}
.size
{
margin:auto;
  height:250px;
  width:250px;
}

.hero-image-booked {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 230px;
  width:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #333333;
}
.hero-image-empty {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 230px;
  width:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
}